@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #111111;
  /* position: relative; */
}
.container {
  margin: 10%;
  text-align: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 80px;
}
.logo h1{
  color: white;
  font-weight: 500;
  padding: 30px;
  border: 1px solid rgba(249, 249, 249, 0.201);
  transition: 0.3s;
}
.logo h1:hover{
  background-color: rgb(254, 219, 219);
  color: #111111;
  border-radius: 10px;
}
.main_text {
  margin-top: 10vh;
  text-align: center;
}
.main_text p {
  font-weight: 400;
  color: white;
  letter-spacing: 4px;
  margin: 10px;
  opacity: 0.7;
}
.main_text h1 {
  color: white;
  font-weight: 500;
  font-size: 50px;
  margin: 0px;
}
@media screen and (max-width: 768px) {
  .main_text h1 {
    font-size: 2rem;
  }
}
.email {
  /* max-width: 600px; */
  display: inline-block;
}
.email_notify {
  margin-top: 30px;
  /* display: flgridex; */
  width: 50vw;
}
#myForm {
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  #myForm {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .email_notify {
    margin-top: 30px;
    display: flgridex;
    width: 70vw;
  }
}
.email_notify input {
  height: 50px;
  border-radius: 1000px;
  padding-left: 20px;
  border: none;
}

.email_notify button {
  height: 55px;
  border-radius: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fcc31e;
  cursor: pointer;
  border: none;
}
.followuson {
  text-align: center;
  /* bottom: 40px;
	position: absolute;
	left: 0;
	right: 0; */
}
.followuson h4 {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.icon a {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  /* padding: 10px; */
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* flex-wrap: wrap; */
}
.icon a:hover {
  background-color: #fcc31e;
  color: #111111;
  border: 1px solid #fcc31e;
  transition: 0.3s;
}
.icon a i {
  padding-bottom: -5px;
}
